# Python cache
__pycache__/
*.py[cod]

# Virtual Environment (VERY IMPORTANT)
curd/Lib/
curd/Scripts/
curd/Include/
curd/pyvenv.cfg
venv/
env/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.sqlite3
